* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  border: 2px solid red;
}

.header-top {
}
.container {
}
.header-top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__name-box {
  display: flex;
  max-width: 330px;
}

.title {
  font-weight: 900;
  font-size: 24px;
  max-width: 251px;
  padding-top: 21px;
}

.header-top__help-box {
  display: flex;
}
.header-top__coast {
  border-right: 1px solid rgba(167, 139, 250, 1);
  text-align: right;
  max-width: 369px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 12px;
}
.header-top__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.header-top__call {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.tell {
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
}
.region {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
