* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: rgba(17, 24, 39, 1);
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  border: 2px solid red;
}

/* header-top */
.header-top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__name-box {
  display: flex;
  max-width: 330px;
}

.title {
  font-weight: 900;
  font-size: 24px;
  max-width: 251px;
  padding-top: 21px;
  padding-bottom: 21px;
  vertical-align: -11px;
}

.header-top__help-box {
  display: flex;
}
.header-top__coast {
  border-right: 1px solid rgba(167, 139, 250, 1);
  text-align: right;
  max-width: 369px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 12px;
}
.header-top__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.header-top__call {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.header-top__link {
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  color: rgba(17, 24, 39, 1);
}
.call:hover {
  color: rgba(139, 92, 246, 1);
}
.region {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

/* header */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  padding: 10px;
  display: flex;
  min-width: 372px;
  justify-content: space-between;
  gap: 24px;
}

.list-link {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  color: #111827;
  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: ease-in;
  padding: 2px;
  cursor: pointer;
}
.list-link:hover {
  color: rgba(139, 92, 246, 1);
  border-bottom: 2px dashed rgba(139, 92, 246, 1);
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(249, 250, 251, 1);
  background-color: rgba(139, 92, 246, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}
.header__btn {
  padding-left: 28px;
  padding-right: 28px;
}

/* promo */
.promo {
  padding-top: 72px;
  background-color: rgba(229, 231, 235, 1);
}

.promo__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.promo__box {
  max-width: 756px;
}
.promo__heading {
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  padding-bottom: 12px;
}
.promo__text {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 16px;
}
.promo__box img {
  border-radius: 16px;
  transform: scale(-1, 1);
}

.promo__form {
  background-color: rgba(249, 250, 251, 1);
  border-radius: 16px;
  min-width: 756px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.promo__heading-input {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  padding-top: 24px;
}
.promo__text-input {
  font-size: 16px;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 28px;
  max-width: 358px;
  text-align: center;
}

.promo__form-box {
  min-width: 496px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.promo__input-first {
  padding-bottom: 24px;
}
.promo__input-name {
  min-width: 496px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid rgba(17, 24, 39, 1);
  background-color: rgba(249, 250, 251, 1);
  font-size: 16px;
}
.promo__input-secondary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 248px;
}
.promo__input-comman {
  max-width: 236px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid rgba(17, 24, 39, 1);
  color: rgba(249, 250, 251, 1);
  font-size: 16px;
}
.promo__input-fird {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 248px;
}
